          <!--<div class="container footer">-->
              <!--<div class="row">-->
                  <br><br>
                  <footer id="footer">
                      <div class="inner container">
                          <!--<section>-->
                              <!--<h2 id="get-in-touch">Get in touch</h2>-->
                              <!--<form method="post" action="#">-->
                              <!--    <div class="field half first">-->
                              <!--        <input type="text" name="name" id="name" placeholder="Name">-->
                              <!--    </div>-->
                              <!--    <div class="field half">-->
                              <!--        <input type="email" name="email" id="email" placeholder="Email">-->
                              <!--    </div>-->
                              <!--    <div class="field">-->
                              <!--        <textarea name="message" id="message" placeholder="Message"></textarea>-->
                              <!--    </div>-->
                              <!--    <ul class="actions">-->
                              <!--        <li><input type="submit" value="Send" class="special"></li>-->
                              <!--    </ul>-->
                              <!--</form>-->
                          <!--</section>-->
                          <section>
                              <!--<h2>Follow</h2>-->
                              <!--<ul class="icons">-->
                              <!--    <li><a href="https://twitter.com/parkes_anthony" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>-->
                              <!--    <li><a href="https://www.facebook.com/people/Anthony-Parkes/100016992914160" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>-->
                              <!--    <li><a href="https://www.linkedin.com/in/anthony-parkes" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>-->
                              <!--    <li><a href="https://www.instagram.com/anthonygparkes/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>-->
                              <!--    <li><a href="https://github.com/agparkes" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>-->
                              <!--    <li><a href="mailto:aparkes413@gmail.com?subject=Portfolio Connection" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>-->
                              <!--</ul>-->
                              
                              <br><br>
                              <h2 id="get-in-touch">Get in touch</h2>
                              <footer class="page-footer font-small cyan darken-3">
                              
                                  <!-- Footer Elements -->
                                  <div class="container">
                              
                                    <!-- Grid row-->
                                    <div class="row">
                              
                                      <!-- Grid column -->
                                      <div class="col-md-12">
                                        <div class="mb-5 flex-center">
                              
                                          <!-- Facebook -->
                                          <a class="fb-ic">
                                            <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                          </a>
                                          <!-- Twitter -->
                                          <a class="tw-ic">
                                            <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                          </a>
                                          <!-- Google +-->
                                          <a class="gplus-ic">
                                            <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                          </a>
                                          <!--Linkedin -->
                                          <a class="li-ic">
                                            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                          </a>
                                          <!--Instagram-->
                                          <a class="ins-ic">
                                            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                          </a>
                                          <!--Pinterest-->
                                          <a class="pin-ic">
                                            <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                                          </a>
                                        </div>
                                      </div>
                                      <!-- Grid column -->
                              
                                    </div>
                                    <!-- Grid row-->
                              
                                  </div>
                                  <!-- Footer Elements -->
                              
                                  <!-- Copyright -->
                                  <!--<div class="footer-copyright text-center py-3">-->
                                  <!--  <p>© 2018 Copyright&#58; All rights reserved &#9679; Crafted with &hearts; in Boca Raton, Florida by <a href="#">Anthony Parkes</a></p>-->
                                  <!--</div>-->
                                  <div class="container">
                                    <p class="text-muted">&copy; Kwon-FitCamp 2018 | <a href="/campsites">Home</a> | <a href="/campsites/new">New Campsite</a></p>
                                  </div>
                                  <!-- Copyright -->
                              
                                </footer>
                                <!-- Footer -->
                          </section>
                      </div>
                  </footer>
              <!--</div>--> <!-- div row ends -->
          <!--</div> --> <!-- div container ends -->
        </div><!-- /.container -->
        <!-- jQuery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous">
  </script>
  <!-- Custom JS for search feature -->
  <script src="/scripts/search.js" async defer></script>
  <!-- Bootstrap JS CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
  </script>
  </body>
</html>