    <!--<div class="container footer">-->
    <!--<div class="row">-->
    <br><br>
    <footer id="footer">
        <div class="inner container mb-4">
            <section>
                <br><br>
                <h2 id="get-in-touch">Get in touch</h2>
                <footer class="page-footer font-small cyan darken-3">

                    <!-- Footer Elements -->
                    <div class="container">

                        <!-- Grid row-->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-12">
                                <div class="mb-5 flex-center">
                                    <!-- Facebook -->
                                    <a class="fb-ic">
                                        <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                    <!-- Twitter -->
                                    <a class="tw-ic">
                                        <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                    <!-- Google +-->
                                    <a class="gplus-ic">
                                        <i class="fa fa-google-plus fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                    <!--Linkedin -->
                                    <a class="li-ic">
                                        <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                    <!--Instagram-->
                                    <a class="ins-ic">
                                        <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                    <!--Pinterest-->
                                    <a class="pin-ic">
                                        <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                                    </a>
                                </div>
                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row-->

                    </div>
                    <div class="container mb-4">
                        <p class="text-muted">&copy; Kwon-FitCamp 2019 | <a href="/campsites">Home</a> | <a href="/campsites/new">New Campsite</a></p>
                    </div>
                    <!-- Copyright -->

                </footer>
                <!-- Footer -->
            </section>
        </div>
    </footer>
    </div><!-- /.container -->

    <!--Bootstrap and its dependencies    -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Custom JS for search feature -->
    <script src="/scripts/search.js" async defer></script>
</body>

</html>