<% include ./partials/header %>
	<div class = "container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div id="Error-Page-Container">
                    <h1>  404 </h1>
                    <h2> OOPS looks like something went wrong. </h2>
                    <h3>Please, try again!</h3>
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>